# Build output
dist/

# Dependencies
node_modules/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
.vercel

packages/icons-angular/src
packages/icons-js/src
packages/icons-react
packages/icons-solid/src
packages/icons-vue/src